.div-mi-perfil {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.div-perfil {
    display: flex;
    margin: 10px;
    align-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-pdf {
    display: block; /* Hace que cada botón ocupe toda la línea */
    width: 100%; /* Ocupa el 100% del ancho disponible */
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Espacio entre botones */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.btn-pdf:hover {
    background-color: #2980b9;
}

.div-perfil img {
    display: inline-block;
    height: 90px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.user-perfil {
    font-family: var(--family-arial);
    font-size: var(--font-30px);
    color: var(--color-blue-primary);
    text-transform: uppercase;
    font-weight: lighter;
}

.a-user-perfil {
    text-decoration: none;
}

.a-user-perfil:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .div-perfil {
        justify-content: center;
    }
}